@import "../colors";
@import "../margins";
@import "../sizes";
@import "../mixins";

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../../public/images/bg.webp");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: $banner-height;
  width: 100%;

  &__content {
    @include flex(column, center, center);
    @include pos(absolute, $top: 50%, $left: 50%);
    text-align: center;
    transform: translate(-50%, -50%);
    color: $text-light;
    width: $text-width;
    max-width: calc(100% - #{$padding-sm});
    padding: $padding-sm;

    p {
      margin: $margin-md 0;
    }

    &-subheading {
      font-weight: 300;
      line-height: 1;
      margin: 0 !important;
    }
  }

  &__socials {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }

  &__buttons {
    @include flex($jus: center);
    gap: $flex-gap;

    .button:first-child {
      background: none;
      border: 1px solid #fff;
      box-shadow: none;
    }

    .button {
      width: 201px;
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    height: $banner-height-mobile;

    &__buttons {
      flex-direction: column;
    }
  }
}

body.lightmode {
  .banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("../../../public/images/bglight.webp");

    &__content {
      color: $text-light;
    }
  }
}
