@import "../colors";
@import "../margins";
@import "../sizes";
@import "../mixins";

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../../public/images/bg.webp");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
  width: 100%;

  &__content {
    @include flex(column, flex-start, flex-start);
    @include pos(absolute, $top: 50%, $left: 50%);
    text-align: left;
    transform: translate(-50%, -50%);
    color: $text-light;
    width: calc(100% - 60px);
    max-width: calc(100% - #{$padding-sm});

    &-heading {
      font-size: 80px;
      line-height: 80px;
      animation: slideIn 0.5s ease-in-out forwards;
      animation-delay: 0.2s;
    }

    &-subheading {
      margin: 0 0 $margin-md 0;
      max-width: 700px;
      animation: slideIn 0.5s ease-in-out forwards;
      animation-delay: 0.5s;

      &:last-of-type {
        animation-delay: 0.8s;
      }
    }
  }

  &__socials {
    margin: 0 0 $margin-md 0;
    animation: slideIn 0.5s ease-in-out forwards;
    animation-delay: 1.1s;
  }

  &__buttons {
    @include flex($jus: center);
    gap: $flex-gap;

    animation: slideIn 0.5s ease-in-out forwards;
    animation-delay: 1.4s;

    .button:first-child {
      background: none;
      border: 1px solid #fff;
      box-shadow: none;
      &:hover {
        background: #fff;
        color: $text-dark;
      }
    }

    .button {
      width: 250px;
      height: 50px;
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    &__buttons {
      flex-direction: column;
    }
  }
}

body.lightmode {
  .banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("../../../public/images/bglight.webp");

    &__content {
      color: $text-light;

      &-heading {
      }
    }
  }
}

.banner__content-heading,
.banner__content-subheading,
.banner__socials,
.banner__buttons {
  opacity: 0;
  transform: translateX(-50px);
}

@keyframes slideIn {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
