@import "../colors";
@import "../margins";
@import "../sizes";
@import "../mixins";

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../../public/images/bg.webp");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100%;

  &__content {
    @include flex(column, flex-start, flex-start);
    @include pos(absolute, $top: 50%, $left: 50%);
    text-align: left;
    transform: translate(-50%, -50%);
    color: $text-light;
    width: calc(100% - 60px);
    max-width: calc(100% - #{$padding-sm});
    padding: $padding-sm;

    &-heading {
      font-size: 80px;
      line-height: 80px;
    }

    &-subheading {
      font-size: 22px;
      font-weight: 300;
      margin: 0 0 $margin-md 0;
      max-width: 700px;
    }
  }

  &__socials {
    margin: 0 0 $margin-md 0;
  }

  &__buttons {
    @include flex($jus: center);
    gap: $flex-gap;

    .button:first-child {
      background: none;
      border: 1px solid #fff;
      box-shadow: none;
      &:hover {
        background: #fff;
        color: $text-dark;
      }
    }

    .button {
      width: 201px;
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    &__buttons {
      flex-direction: column;
    }
  }
}

body.lightmode {
  .banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("../../../public/images/bglight.webp");

    &__content {
      color: $text-light;
    }
  }
}
