@import "../colors";
@import "../margins";

.card {
  display: flex;
  flex-direction: column;
  flex-basis: calc(50% - 0.5rem);
  height: 300px;
  position: relative;
  cursor: pointer;

  &__image {
    width: 100%;
    height: calc(100% - 25px);
    object-fit: cover;

    &-placeholder {
      width: 100%;
      height: calc(100% - 25px);
      background-color: $color-darkmode-placeholder;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  &__text {
    margin-bottom: $margin-sm;
  }

  @media screen and (max-width: 800px) {
    flex-basis: 100%;
  }
}

body.lightmode {
  .card {
    &__image {
      &-placeholder {
        background-color: $color-lightmode-placeholder;
      }
    }
  }
}
