@import "../sizes";
@import "../mixins";
@import "../margins";

.contact-content {
  @include flex(column, center, center);
  text-align: center;
  max-width: $content-width;
  font-size: 26px;

  p {
    margin: $margin-md auto;
  }
}
