@import "../colors";
@import "../margins";
@import "../sizes";
@import "../mixins";

.footer {
  @include flex($jus: center);
  padding: $margin-sm;
  background: $color-darkmode-bg-light;
  width: 100%;

  .footer-content {
    @include flex(column, center, center);
  }

  .social-links {
    display: flex;
    margin: $margin-sm 0;

    .social-link {
      transition: $transition-fast;
    }

    .social-link,
    .social-link svg {
      width: $icon-sm;
      height: $icon-sm;
    }

    .social-link:hover {
      color: darken($text-light, 7.5%);
    }

    .social-link:not(:last-child) {
      margin-right: $margin-sm;
    }
  }

  p {
    @include flex($ali: center);
    color: $text-light;

    svg {
      margin-left: $margin-sm;
      width: $icon-sm;
      height: $icon-sm;
    }
  }
}

.resume {
  display: flex;
  gap: 10px;
  margin-bottom: $margin-sm;
}

body.lightmode {
  .footer {
    background: $color-lightmode-bg-light;

    .social-links {
      .social-link:hover {
        color: darken($text-dark, 7.5%);
      }
    }

    p {
      color: $text-dark;
    }
  }
}
