@import "../colors";
@import "../margins";

.footer {
  display: flex;
  justify-content: center;
  padding: $margin-sm;
  background: $color-darkmode-bg-light;
  width: 100%;

  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .social-links {
    display: flex;
    margin: $margin-sm 0;

    .social-link {
      transition: all 0.2s ease-in-out;
    }

    .social-link,
    .social-link svg {
      width: 2rem;
      height: 2rem;
    }

    .social-link:hover {
      color: darken($color-darkmode-text-light, 7.5%);
    }

    .social-link:not(:last-child) {
      margin-right: $margin-sm;
    }
  }

  p {
    display: flex;
    align-items: center;
    color: $color-darkmode-text-light;

    svg {
      margin-left: 5px;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.resume {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
}

body.lightmode {
  .footer {
    background: $color-lightmode-bg-light;

    .social-links {
      .social-link:hover {
        color: darken($color-lightmode-text-dark, 7.5%);
      }
    }

    p {
      color: $color-lightmode-text-dark;
    }
  }
}
