@import "../colors";
@import "../margins";
@import "../sizes";

.gallery {
  position: fixed;
  top: calc(1rem + 60px);
  left: 50%;
  transform: translate(-50%, 100%);
  width: calc(100% - 2rem);
  max-width: $content-width;
  height: calc(100% - 2rem - 60px);
  z-index: -1;
  background-color: $color-darkest;
  opacity: 0;
  border-radius: 6px;
  overflow-y: hidden;
  overflow-x: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  transition: all 0.4s ease-in-out;

  &.open {
    z-index: 999;
    opacity: 1;
    transform: translate(-50%, 0);
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
  }

  &__header {
    text-align: center;
    padding: 1rem;
  }

  &__grid {
    overflow-y: scroll;
    height: calc(100% - 61px);
    width: 100%;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
