@import "../colors";
@import "../sizes";
@import "../margins";

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  background: $color-darkmode-bg-light;
  width: 100%;
  z-index: 999;
  height: $header-height;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: $header-width;
    color: $color-darkmode-text-light;
    padding-left: $margin-sm;
  }

  &__nav-container {
    display: flex;
    height: 100%;
  }

  h2 {
    font-weight: 600;
  }

  nav {
    display: flex;
    height: 100%;
  }

  ul {
    display: flex;
    height: 100%;

    li {
      display: flex;
      align-items: center;
      height: 100%;
    }

    li a {
      display: flex;
      align-items: center;
      height: 100%;
      text-decoration: none;
      padding: 0 $margin-sm;
      border-bottom: 3px solid transparent;
      transition: all 0.2s ease-in-out;
    }

    li a:hover {
      background-color: $color-darkmode-bg-dark;
    }

    li.active a {
      border-bottom: 3px solid $color-darkmode-highlight;
    }
  }

  &__mode {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    cursor: pointer;

    svg {
      height: 1.5rem;
      width: 1.5rem;
      color: $color-darkmode-highlight;
    }
  }
}

body.lightmode {
  .header {
    background: $color-lightmode-bg-light;

    &__content {
      color: $color-lightmode-text-dark;
    }

    ul {
      li a {
        color: $color-lightmode-text-dark;
      }

      li a:hover {
        background-color: $color-lightmode-bg-dark;
      }

      li.active a {
        border-bottom: 3px solid $color-lightmode-highlight;
      }
    }

    &__mode {
      svg {
        color: $color-lightmode-highlight;
      }
    }
  }
}
