@import "../colors";
@import "../sizes";
@import "../margins";
@import "../mixins";

.header {
  @include pos(sticky, $top: 0);
  @include flex($jus: center);
  background: $color-darkmode-bg-light;
  width: 100%;
  z-index: 999;
  height: $header-height;
  box-shadow: $header-box-shadow;

  &__logo {
    @include flex($jus: center, $ali: center);
    font-size: 2.7em;
    border-radius: 50%;
    background: $button-darkmode-bg;
    width: 40px;
    height: 40px;
    color: $text-light;
    cursor: pointer;
    transition: $transition-fast;

    div {
      padding-bottom: 7px;
      font-family: sans-serif !important;
    }
  }

  &__content {
    @include flex($jus: space-between, $ali: center);
    width: $header-width;
    color: $text-light;
    padding-left: $margin-sm;
  }

  &__nav-container {
    display: flex;
    height: 100%;
  }

  nav {
    display: flex;
    height: 100%;
  }

  ul {
    display: flex;
    height: 100%;

    li {
      @include flex($ali: center);
      height: 100%;
    }

    li a {
      @include flex($ali: center);
      height: 100%;
      text-decoration: none;
      padding: 0 $margin-sm;
      border-bottom: 3px solid transparent;
      font-weight: 600;
      transition: $transition-fast;
    }

    li a:hover {
      background-color: $color-darkmode-bg-dark;
    }

    li.active a {
      border-bottom: 3px solid $color-darkmode-highlight;
      border-image-slice: 1;
      border-image-source: $button-darkmode-bg;
    }
  }

  &__mode {
    @include flex($jus: center, $ali: center);
    padding: 0 $padding-sm;
    cursor: pointer;

    svg {
      height: $icon-sm;
      width: $icon-sm;
      color: $color-darkmode-highlight;
    }
  }
}

body.lightmode {
  .header {
    background: $color-lightmode-bg-light;

    &__logo {
      background: $button-lightmode-bg;
    }

    &__content {
      color: $text-dark;
    }

    ul {
      li a {
        color: $text-dark;
      }

      li a:hover {
        background-color: $color-lightmode-bg-dark;
      }

      li.active a {
        border-bottom: 3px solid $color-lightmode-highlight;
        border-image-source: $button-lightmode-bg;
      }
    }

    &__mode {
      svg {
        color: $color-lightmode-highlight;
      }
    }
  }
}
