@import "../colors";
@import "../margins";
@import "../sizes";
@import "../mixins";

.mobile-header {
  @include flex($ali: center);
  @include pos(sticky, $top: 0);
  height: $header-height;
  width: 100%;
  color: $text-light;
  background: $color-darkmode-bg-light;
  padding: 0 $margin-sm;
  z-index: 10;
  box-shadow: $header-box-shadow;
  transition: $transition-fast;

  &__logo {
    @include flex($jus: center, $ali: center);
    font-size: 2.7em;
    border-radius: 50%;
    background: $button-darkmode-bg;
    width: 40px;
    height: 40px;
    color: $text-light;
    transition: $transition-fast;

    div {
      padding-bottom: 7px;
      font-family: sans-serif !important;
    }
  }

  &__icon {
    @include pos(absolute, $top: 0, $right: 0);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: $margin-sm;

    svg {
      width: $icon-md;
      height: $icon-md;
      color: $text-light;
    }
  }

  &__nav {
    @include flex(column, center, center);
    @include pos(fixed, $top: 0, $left: 0);
    width: 100%;
    height: 100vh;
    pointer-events: none;
    background: $color-darkmode-bg-light;
    opacity: 0;
    z-index: 9;
    transition: $transition-fast;

    ul {
      @include flex(column, center, center);
      width: 100%;
      margin-bottom: $margin-md;
    }

    li a {
      display: flex;
      width: 100%;
      padding: $margin-sm;
      font-size: 2rem;
      opacity: 0;
      transition: $transition-fast;
    }

    .mobile-header__mode {
      svg {
        height: $icon-md;
        width: $icon-md;
        color: $color-darkmode-highlight;
      }
    }
  }

  &__nav.active {
    opacity: 1;
    pointer-events: all;

    li a {
      opacity: 1;
    }
  }
}

body.lightmode {
  .mobile-header {
    color: $text-dark;
    background: $color-lightmode-bg-light;

    &__logo {
      background: $button-lightmode-bg;
    }

    &__icon {
      svg {
        color: $text-dark;
      }
    }

    &__nav {
      background: $color-lightmode-bg-light;

      .mobile-header__mode {
        svg {
          color: $color-lightmode-highlight;
        }
      }
    }
  }
}
