@import "../colors";
@import "../margins";
@import "../sizes";
@import "../mixins";

.profile-content {
  @include flex(column);
  margin-top: $margin-lg;
  max-width: $content-width;
  width: 100%;

  &__info {
    text-align: center;
  }

  &__resume {
    @include flex($jus: center, $ali: center);
    width: 100%;
    gap: $flex-gap;
    margin: $margin-lg 0;

    a {
      text-align: center;
      font-weight: 600;
    }
  }

  &__filters {
    @include flex($jus: center, $ali: center);
    gap: $flex-gap;
    width: 100%;
  }

  &__stats {
    @include flex($wrap: wrap);
    margin-top: $margin-sm;
  }

  &__logos {
    @include flex($jus: center);
    margin-top: $margin-lg;

    img {
      width: 200px;
      max-width: 50%;
    }

    img:first-of-type {
      margin-right: $margin-md;
    }
  }

  @media screen and (max-width: 800px) {
    &__info {
      margin-left: 0;
      flex-direction: column;

      p {
        margin: $margin-md 0;
        text-align: center;
      }
      img {
        margin-right: 0;
      }
    }

    &__resume {
      flex-direction: column;
    }

    &__filters {
      flex-wrap: wrap;
    }
  }

  @media screen and (max-width: 600px) {
    &__logos {
      flex-direction: column;
      align-items: center;

      img:first-of-type {
        margin-right: 0;
        margin-bottom: $margin-md;
      }
    }
  }
}

body.lightmode {
  &__image {
    background: $color-lightmode-bg-light;
  }
}
