@import "../colors";
@import "../margins";
@import "../sizes";
@import "../mixins";

.profile-content {
  @include flex(row, $ali: center);
  margin-top: 60px;
  padding: 30px;
  width: 100%;
  height: 100%;

  & > div {
    width: 50%;
  }

  &__info {
    max-width: $text-width;
    margin: 0 auto;
    text-align: left;
    font-size: 22px;
  }

  &__resume {
    @include flex();
    width: 100%;
    gap: $flex-gap;
    margin: $margin-md 0;

    a.button.dark {
      background: none;
      background-image: none;
      border: 1px solid $text-light;
      box-shadow: none;
      text-align: center;
      font-weight: 600;

      &:hover {
        background: #fff;
        color: $text-dark;
      }
    }

    a.button.light {
      background: none;
      background-image: none;
      box-shadow: none;
      border: 1px solid $text-dark;
      color: $text-dark;

      &:hover {
        background: $text-dark;
        color: $text-light;
      }
    }
  }

  &__filters {
    @include flex($jus: center, $ali: center);
    gap: $flex-gap;
    width: 100%;
  }

  &__stats {
    @include flex($dir: column, $ali: flex-end);
    overflow: scroll;
    height: 100%;

    /* width */
    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__logos {
    @include flex($jus: center);
    margin-top: $margin-md;

    img {
      width: 200px;
      max-width: 50%;
    }

    img:first-of-type {
      margin-right: $margin-md;
    }
  }

  @media screen and (max-width: $mobile-breakpoint) {
    &__info {
      margin-left: 0;
      flex-direction: column;

      p {
        margin: $margin-md 0;
        text-align: center;
      }
      img {
        margin-right: 0;
      }
    }

    &__resume {
      flex-direction: column;
    }

    &__filters {
      flex-wrap: wrap;

      .button {
        width: calc(50% - 0.75rem);
        flex-basis: calc(50% - 0.75rem) !important;
      }
    }
  }

  @media screen and (max-width: 600px) {
    &__logos {
      flex-direction: column;
      align-items: center;

      img:first-of-type {
        margin-right: 0;
        margin-bottom: $margin-md;
      }
    }
  }
}

body.lightmode {
  &__image {
    background: $color-lightmode-bg-light;
  }
}
