@import "../colors";
@import "../margins";
@import "../mixins";
@import "../sizes";

.stat {
  @include flex($jus: center, $ali: center);
  // flex-basis: 33.3333%;
  padding: $padding-sm 0;
  cursor: pointer;
  position: relative;
  transition: $transition-fast;
  border-radius: $border-radius;
  font-size: 22px;

  &-icon {
    width: $icon-lg;
    height: $icon-lg;
    margin-left: $margin-sm;
  }

  &-heart-container {
    margin-left: $margin-sm;
  }

  @media (hover: none) {
    &:hover {
      background-color: inherit;
    }
  }

  @media screen and (max-width: 800px) {
    justify-content: center;
    flex-basis: 50%;

    &:nth-child(even),
    &:nth-child(odd) {
      padding: 1rem 0;
    }
  }

  @media screen and (max-width: 600px) {
    flex-basis: 100%;
  }
}

body.lightmode {
  .stat {
    &:hover {
      background-color: $color-lightmode-bg-dark;
    }
  }
}
