@import "../colors";
@import "../margins";
@import "../mixins";
@import "../sizes";

.stat {
  @include flex($jus: center, $ali: center);
  padding: 0 0 2.5rem 0;
  cursor: pointer;
  position: relative;
  border-radius: $border-radius;
  font-size: 24px;
  transition: all 0.25s ease-in-out;

  &:first-child {
    padding-top: 2.5rem;
  }

  &:hover {
    transform: translateX(-20px);
  }

  &-icon {
    width: $icon-lg;
    height: $icon-lg;
    margin-left: $margin-sm;
  }

  &-heart-container {
    margin-left: $margin-sm;
  }

  @media (hover: none) {
    &:hover {
      background-color: inherit;
    }
  }

  @media screen and (max-width: 800px) {
    justify-content: center;
    flex-basis: 50%;

    &:nth-child(even),
    &:nth-child(odd) {
      padding: 1rem 0;
    }
  }

  @media screen and (max-width: 600px) {
    flex-basis: 100%;
  }
}

body.lightmode {
  .stat {
    &:hover {
      background-color: $color-lightmode-bg-dark;
    }
  }
}
