@import "../colors";
@import "../margins";
@import "../mixins";
@import "../sizes";

.tooltip {
  @include pos(absolute, $top: 100%);
  background-color: $text-light;
  color: $text-dark;
  border-radius: $border-radius;
  padding: $margin-sm;
  opacity: 0;
  transform: translateY(20px);
  z-index: 8;
  pointer-events: none;
  filter: drop-shadow(rgba(0, 0, 0, 0.19) 0 0 4px);
  transition: $transition-fast;

  &__inner {
    @include flex(column, center, center);
    text-align: center;
  }

  &__title {
    margin-bottom: $margin-sm;
  }

  &.active {
    pointer-events: all;
    opacity: 1;
    transform: translateY(0);
  }

  &::after,
  &::before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &::after {
    border-color: rgba(238, 238, 238, 0);
    border-bottom-color: $text-light;
    border-width: 15px;
    margin-left: -15px;
  }
  &::before {
    border-color: rgba(204, 204, 204, 0);
    border-bottom-color: $text-light;
    border-width: 16px;
    margin-left: -16px;
  }
}

body.lightmode {
  .tooltip {
    background-color: $text-light;
    color: $text-dark;

    &::after {
      border-bottom-color: $text-light;
    }
    &::before {
      border-bottom-color: $text-light;
    }
  }
}
