@import "../variables.scss";

.header {
  @include position(fixed, 0, null, null, 0);
  width: 100%;
  text-transform: uppercase;
  background-color: $color-dark-max;
  padding: 1rem 2rem;
  z-index: $z-top;
}

.headerContainer {
  @include flex(row, space-between, center);
  margin: auto;
  width: 100%;
  max-width: $body-max-width;
  position: relative;
}

.header.shadow {
  box-shadow: $box-shadow-nav;
}

.nav {
  &__heading {
    font-size: 1.675rem;
    color: #fff;
    cursor: pointer; // Special case
  }

  &__links {
    display: none;

    @media (min-width: $breakpoint-md) {
      display: flex;
    }
  }

  &__link {
    @include flex(row, flex-end);
    margin-left: 20px;

    a {
      text-decoration: none;
      color: #fff;
      font-size: 0.875rem;
      transition: all 0.2s ease-out;

      @media (hover: hover) {
        &:hover {
          color: $color-light-min;
        }
      }
    }

    a.active {
      position: relative;
      color: $color-light-min;
    }

    a.active::after {
      content: "";
      @include position(absolute, null, null, -3px, 50%);
      width: 0;
      transform: translateX(-50%);
      height: 1px;
      background-color: $color-light-min;
      animation: underline 0.2s ease-in-out forwards;
    }
  }
}

.mobile {
  @include position(absolute, 0, 0);
  width: 2rem;
  height: 100%;
  cursor: pointer;

  @media (min-width: $breakpoint-md) {
    display: none;
  }

  svg {
    height: 100%;
    width: 100%;
    color: $color-light-max;
  }
}

@keyframes underline {
  100% {
    width: 25px;
  }
}
