@import "../variables.scss";

.header {
  @include flex(row, space-between, center);
  @include position(fixed, 0, null, null, 0);
  width: 100%;
  text-transform: uppercase;
  background-color: $color-dark-max;
  padding: 1rem 2rem;
  z-index: $z-top;
}

.header.shadow {
  box-shadow: $box-shadow-nav;
}

.nav {
  &__heading {
    font-size: 1.675rem;
    color: $color-light-max;
    cursor: pointer; // Special case
    transition: color 0.25s ease-in;

    @media (hover: hover) {
      &:hover {
        color: #fff;
      }
    }
  }

  &__links {
    display: flex;
  }

  &__link {
    @include flex(row, flex-end);
    margin-left: 20px;

    a {
      text-decoration: none;
      color: $color-light-max;
      font-size: 0.875rem;
      transition: all 0.2s ease-out;

      @media (hover: hover) {
        &:hover {
          color: $color-light-min;
        }
      }
    }

    a.active {
      position: relative;
      color: $color-light-min;
    }

    a.active::after {
      content: "";
      @include position(absolute, null, null, -3px, 50%);
      width: 0;
      transform: translateX(-50%);
      height: 1px;
      background-color: $color-light-min;
      animation: underline 0.2s ease-in-out forwards;
    }
  }
}

@keyframes underline {
  100% {
    width: 25px;
  }
}
