@import "../variables.scss";

.section {
  &__container {
    max-width: 100%;
    width: 680px;
  }
}

.projects {
  display: flex;
  overflow: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
}

.project {
  height: 75vh;
  color: #fff;

  &__item {
    margin-right: 2rem;
    padding: 2rem;
    border: 1px solid $color-border;
    height: 100%;

    border-radius: 12px;
  }
}
