$text-light: #f5f7fa;
$text-dark: #363b44;

// Light Mode
$color-lightmode-bg-light: #f7f7f7;
$color-lightmode-bg-dark: #efefef;
$color-lightmode-placeholder: #ccc;
$color-lightmode-highlight: #0074d9;

// Dark Mode
$color-darkmode-bg-light: #282c33;
$color-darkmode-bg-dark: #1d2025;
$color-darkmode-placeholder: #515a61;
$color-darkmode-highlight: #8de9d5;

//Shadows
$box-shadow: 0 0 16px rgba(0, 0, 0, 0.19);
$image-box-shadow: 0 0 6px rgba(0, 0, 0, 0.19);
$button-box-shadow-light: 0 1px 42px rgba(23, 147, 255, 0.6);
$button-box-shadow-dark: 0 1px 42px rgba(29, 222, 203, 0.6);

// Gradients
$gradient-darkmode: linear-gradient(
  120deg,
  rgb(141, 233, 213) 0%,
  rgb(50, 196, 192) 100%
);

$gradient-lightmode: linear-gradient(
  120deg,
  rgb(0, 210, 255) 0%,
  rgb(58, 123, 213) 100%
);

$gradient-ttb-darkmode: linear-gradient(
  to bottom,
  rgb(141, 233, 213) 0%,
  rgb(50, 196, 192) 100%
);

$gradient-ttb-lightmode: linear-gradient(
  to bottom,
  rgb(0, 210, 255) 0%,
  rgb(58, 123, 213) 100%
);

$button-darkmode-bg: $gradient-darkmode;
$button-lightmode-bg: $gradient-lightmode;

$scrollbar-darkmode-bg: $gradient-ttb-darkmode;
$scrollbar-lightmode-bg: $gradient-ttb-lightmode;

$section-darkmode-bg: $gradient-ttb-darkmode;
$section-lightmode-bg: $gradient-ttb-lightmode;

$transition-fast: all 0.24s ease-in-out;
$transition: all 0.4s ease-in-out;
$transition-slow: all 0.6s ease-in-out;
