$gradient-darkmode: linear-gradient(
  135deg,
  rgba(29, 222, 203, 1) 0%,
  rgba(29, 145, 222, 1) 100%
);

$gradient-lightmode: linear-gradient(
  135deg,
  rgba(23, 147, 255, 1) 0%,
  rgba(118, 46, 205, 1) 100%
);

$gradient-ttb-darkmode: linear-gradient(
  to bottom,
  rgba(29, 222, 203, 1) 0%,
  rgba(29, 145, 222, 1) 100%
);

$gradient-ttb-lightmode: linear-gradient(
  to bottom,
  rgba(23, 147, 255, 1) 0%,
  rgba(118, 46, 205, 1) 100%
);

$button-darkmode-bg: $gradient-darkmode;
$button-lightmode-bg: $gradient-lightmode;

$scrollbar-darkmode-bg: $gradient-ttb-darkmode;
$scrollbar-lightmode-bg: $gradient-ttb-lightmode;

$section-darkmode-bg: $gradient-ttb-darkmode;
$section-lightmode-bg: $gradient-ttb-lightmode;
