// Overriding other libraries,
// may go into that libraries css file and update there instead.

.ril-toolbar {
  height: 60px !important;
}

.ril__toolbarRightSide {
  padding-right: 0px !important;
}

.ril__navButtons {
  padding: 40px 20px !important;
}
