// Section widths/heights
$header-height: 60px;
$gallery-height: 360px;
$gallery-height-mobile: 300px;

// Breakpoints
$mobile-breakpoint: 800px;

// Icons
$icon-xs: 1.5rem;
$icon-sm: 1.5rem;
$icon-md: 2rem;
$icon-lg: 2.75rem;

// Flex gap
$flex-gap: 0.75rem;

$border-radius: 0.875rem;
