// Section widths/heights
$header-width: 1400px;
$header-height: 60px;
$content-width: 900px;
$banner-height: 700px;
$banner-height-mobile: 550px;
$gallery-height: 350px;
$gallery-height-mobile: 300px;

// Breakpoints
$mobile-breakpoint: 800px;

// Icons
$icon-sm: 1.75rem;
$icon-md: 2.35rem;
$icon-lg: 3.25rem;

// Flex gap
$flex-gap: 0.75rem;

$border-radius: 0.875rem;
