// Section widths/heights
$header-width: 1400px;
$header-height: 50px;
$content-width: 900px;
$text-width: 760px;
$banner-height: 760px;
$banner-height-mobile: 680px;
$gallery-height: 360px;
$gallery-height-mobile: 300px;

// Breakpoints
$mobile-breakpoint: 800px;

// Icons
$icon-xs: 1.5rem;
$icon-sm: 1.75rem;
$icon-md: 2.35rem;
$icon-lg: 3.25rem;

// Flex gap
$flex-gap: 0.75rem;

$border-radius: 0.875rem;
