@import "../../styles/colors";
@import "../../styles/sizes";
@import "../../styles/mixins";
@import "../../styles/animations";

.skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  min-height: 100vh;
  width: 100%;
  max-width: 1400px;

  &__item {
    @include flex($dir: column, $ali: center, $jus: center);
    position: relative;
    text-align: center;
    padding: $padding;
    width: 100%;
    height: 275px;
    background-color: $background;
    box-shadow: 1px 0 0 0 $background-lighter, 0 1px 0 0 $background-lighter,
      1px 1px 0 0 $background-lighter, 1px 0 0 0 $background-lighter inset,
      0 1px 0 0 $background-lighter inset;
    transition: $transition-standard;
    overflow: hidden;

    &-content {
      height: 100%;
      width: 100%;

      @include flex($dir: column, $ali: center, $jus: center);
    }

    &:hover {
      background-color: $background-lighter;

      svg {
        animation: iconAnimation $animation-standard;
        transition-delay: $delay-fast;
      }
    }

    svg {
      width: $icon;
      height: $icon;
      position: absolute;
      transform: translateY(0) scale(3);
      // transition-delay: $delay-fast;
    }

    &-header {
      // @include pos(absolute, $top: 25px);
      font-size: $subheading;
      letter-spacing: 2px;
      opacity: 0;
      margin-bottom: 25px;
      text-transform: uppercase;
    }

    &-subheader {
      font-size: 14px;
      opacity: 0;
      margin-bottom: 0;
      letter-spacing: 0.8px;
    }
  }
}

.skills__item:hover .skills__item-header {
  opacity: 1;
  transition: $transition-standard;
  transition-delay: 0.3s;
}

.skills__item:hover .skills__item-subheader {
  opacity: 1;
  transition: $transition-standard;
  transition-delay: 0.3s;
}

@media screen and (min-width: 1800px) {
  .skills {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media screen and (max-width: 960px) {
  .skills {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .skills {
    grid-template-columns: repeat(1, 1fr);
  }
}

@keyframes iconAnimation {
  100% {
    opacity: 0.075;
    transform: translateX(0) scale(3);
  }
}
