@import "../../../../styles/colors";
@import "../../../../styles/mixins";
@import "../../../../styles/animations";
@import "../../../../styles/sizes";

.form-icon {
  @include pos(absolute, $top: 15px, $right: 0);

  svg {
    width: $icon;
    height: $icon;
    opacity: 0;
    transform: translateX(10px);
    animation: iconFadeIn $animation-fast;
  }
}

@keyframes iconFadeIn {
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
