@import "../variables.scss";

.resume {
  margin: 2rem 0;

  &__links {
    @include flex(row, space-around, center, wrap);
    margin: 2rem 0;
  }

  &__link {
    display: inline-flex;
    background-color: $color-light-max;
    border: 1px solid darken($color-light-max, 20%);
    border-radius: 12px;
    padding: 0.75rem 2rem;
    transition: all 0.2s ease-in-out;
  }

  &__link:first-child {
    margin-right: 2rem;
  }
}
