@import "../variables.scss";

.progress {
  @include position(fixed, $header-height, null, null, 0);
  background: $color-light-max;
  height: 3px;
  width: 100%;
  z-index: $z-top;

  &__bar {
    height: 100%;
    width: 0;
    background: $color-accent-dark;
    transition: all 0.25s ease-in-out;
  }
}
