@import "../variables.scss";

.skillcard {
  margin-right: 2rem;
  cursor: pointer;

  &__color {
    position: relative;
    width: 100%;
    height: 6rem;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid $color-border;
    border-top: none;
    padding: 4rem 2rem;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    border: 1px solid $color-border;

    svg {
      width: 55%;
      height: 55%;
      color: $color-dark-min;
    }
  }

  &__heading {
    margin-bottom: 2rem;
    font-weight: 300;
    color: $color-dark-max;
  }

  &__subheading {
    font-weight: 300;
    color: $color-dark-min;
    font-size: 1rem;
  }

  &__progress {
    position: absolute;
    left: 0.667rem;
    bottom: 0.667rem;
    height: 5px;
    width: 90%;
    background: $color-light-min;
    border-radius: 9999px;
    width: 0;
    animation: animateProgress 1s cubic-bezier(0.2, 0, 0.4, 1) forwards;
  }
}

@keyframes animateProgress {
  100% {
    width: calc(100% - 2rem);
  }
}
