@import "../../styles/colors";
@import "../../styles/mixins";
@import "../../styles/animations";
@import "../../styles/sizes";

.contact {
  @include flex($ali: center);
  position: relative;
  min-height: calc(100vh - 194px);
  width: 100%;
  max-width: 1400px;
  padding: 100px 0;

  &__container {
    max-width: 100%;
    padding: 0 $padding;
    text-align: center;
  }

  &__info {
    width: 50%;
    padding: 25px;

    h2 {
      text-transform: uppercase;
      font-size: 52px;
      margin: 0 0 40px 0;
    }
  }

  &__form {
    @include flex($dir: column);
    text-align: left;
    width: 50%;
    max-width: 100%;
    padding: 0 $padding;
    position: relative;

    &-success {
      > div:not(.form-success) {
        animation: formSuccess $animation-standard;
      }
    }

    &-input-container {
      @include flex($dir: column, $jus: center);
      position: relative;
      margin-bottom: $padding-large;
    }

    &-label {
      @include pos(absolute, $top: 0, $left: 0);
      font-size: $base;
      letter-spacing: $letter-spacing-standard;
      padding-top: $padding-label;
      color: darken($text, 50%);
      transition: $transition-standard;
    }

    &-input {
      color: $text;
      border-bottom: 1px solid darken(#fff, 50%);
      font-size: $base;
      letter-spacing: $letter-spacing-standard;
      padding: $padding-label 0;
      transition: $transition-standard;

      &:focus,
      &:valid {
        border-bottom: 1px solid #fff;
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        transition: background-color 600000s 0s, color 600000s 0s;
        background: transparent;
        background-color: none !important;
      }
    }

    &-input-error {
      border-bottom: 2px solid darken(#fff, 50%) !important;
    }

    &-input:focus ~ label,
    &-input:valid ~ label,
    &-input-error ~ label,
    &-textarea:focus ~ label,
    &-textarea:valid ~ label {
      top: -30px;
      left: 0;
      font-size: $base;
    }

    &-textarea {
      color: $text;
      border-bottom: 2px solid darken(#fff, 50%);
      font-size: $base;
      letter-spacing: $letter-spacing-standard;
      padding: $padding-label 0;
      resize: none;

      &:focus,
      &:valid {
        border-bottom: 2px solid #fff;
      }
    }

    &-submit {
      width: 100%;
      background: transparent;
      border: 2px solid $text;
      color: #fff;
      padding: $padding-label $padding;
      cursor: pointer;
      text-transform: uppercase;
      font-size: $base;
      letter-spacing: 2px;
      margin: auto;
      transition: $transition-standard;

      &:hover {
        background: #fff;
        color: $background;
      }
    }

    &-error {
      @include pos(absolute, $bottom: -30px, $left: 0);
      transform: translate(25px, 40px);
      font-size: $base;
      text-align: center;
      margin-top: $padding;
      letter-spacing: $letter-spacing-standard;
      opacity: 0;
      white-space: nowrap;
      animation: fadeInErrorMessage $animation-fast;
    }
  }
}

.button:first-child {
  background: none;
  border: 1px solid #fff;
  box-shadow: none;
  &:hover {
    background: #fff;
    color: $text-dark;
  }
}

@media screen and (max-width: 768px) {
  .contact {
    flex-direction: column;

    &__info,
    &__form {
      width: 100%;
      text-align: center;
    }

    &__info {
      h2 {
        font-size: 40px;
      }

      p {
        font-size: 16px;
      }
    }
  }
}

@keyframes fadeInErrorMessage {
  100% {
    transform: translate(25px, 20px);
    opacity: 1;
  }
}

@keyframes formSuccess {
  100% {
    transform: translateY(60px);
    opacity: 0;
  }
}
