@import "../../styles/colors";
@import "../../styles/sizes";
@import "../../styles/margins";
@import "../../styles/mixins";

.header {
  @include pos(sticky, $top: 0);
  @include flex($jus: center);
  background: $background;
  width: 100%;
  z-index: 999;
  box-shadow: $header-box-shadow;

  &__mobile {
    display: none;
    background-image: $button-darkmode-bg;
    background-size: 150%;
    transition: $transition-fast;
    box-shadow: $button-box-shadow-dark;
    padding: 8px 15px;
    border-radius: 2px;
    cursor: pointer;

    svg {
      height: 32px;
      width: 32px;
    }
  }

  &__logo {
    @include flex($jus: center, $ali: center);
    font-size: 24px;
    letter-spacing: 4px;
    color: $text-light;
    transition: $transition-fast;
    cursor: pointer;
  }

  &__content {
    @include flex($jus: space-between, $ali: center);
    width: $header-width;
    color: $text-light;

    padding: 10px 25px;
    text-transform: uppercase;
  }

  &__buttons {
    @include flex($jus: space-between, $ali: center);
    gap: 20px;
    height: 100%;
  }

  nav {
    display: flex;
    height: 100%;
  }

  ul {
    display: flex;
    height: 100%;

    li {
      @include flex($ali: center);
      height: 100%;
    }

    li a {
      @include flex($ali: center);
      height: 100%;
      text-decoration: none;
      padding: 0 $margin-sm;
      border-bottom: 3px solid transparent;
      font-weight: 600;
      transition: $transition-fast;
    }

    li a:hover {
      background-color: $color-darkmode-bg-dark;
    }

    li.active a {
      border-bottom: 3px solid $color-darkmode-highlight;
      border-image-slice: 1;
      border-image-source: $button-darkmode-bg;
    }
  }

  &__mode {
    @include flex($jus: center, $ali: center);
    padding: 0 $padding-sm;
    cursor: pointer;

    svg {
      height: $icon-sm;
      width: $icon-sm;
      color: $color-darkmode-highlight;
    }
  }
}

.mobile-menu {
  display: none;
  text-transform: uppercase;
}

.image {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  height: 20%;
  transition: all 0.3s ease-in-out;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.image-visible {
  width: 90%;
  height: 90%;
  opacity: 1;
  pointer-events: all;
}

@media screen and (max-width: 768px) {
  .header {
    &__mobile {
      display: flex;
    }

    &__buttons {
      display: none;
    }
  }
  .mobile-menu.open {
    position: fixed;
    top: 68px;
    left: 0;
    height: calc(100% - 68px);
    width: 100%;
    background: $background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    z-index: -1;
    opacity: 0;
    animation: fadeInMobileMenu 0.2s ease-in-out forwards;

    .social-links {
      flex-direction: column;
      gap: 25px;
    }

    .social-link {
      margin-right: 0;
      height: 50px;
      width: 50px;

      svg {
        height: 50px;
        width: 50px;
      }
    }
  }
}

@keyframes fadeInMobileMenu {
  100% {
    opacity: 1;
  }
}
