@import "styles/colors";
@import "styles/margins";
@import "styles/mixins";
@import "styles/sizes";
@import "styles/overrides";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,600;1,100&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  color: $text-light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;

  /* width */
  &::-webkit-scrollbar {
    width: 0.4rem;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $color-darkmode-bg-dark;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $scrollbar-darkmode-bg;
    border-radius: 999px;
  }
}

a {
  text-decoration: none;
  color: $text-light;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-weight: 300;
}

.container {
  padding: $padding-md;
  background-color: $color-darkmode-bg-dark;
  border-radius: $border-radius;
  box-shadow: $image-box-shadow;
}

.button {
  padding: 0.75rem 1rem;
  // border-radius: 2.5rem;
  color: $text-light;
  background-image: $button-darkmode-bg;
  background-size: 150%;
  font-weight: 600;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  transition: $transition-fast;
  box-shadow: $button-box-shadow-dark;
  text-align: center;

  &:hover {
    background-size: 500%;
  }

  &--inverse {
    color: $color-darkmode-highlight;
    background: none;
    box-shadow: none;

    &.active,
    &:hover {
      color: $text-light;
      background: $button-darkmode-bg;
      box-shadow: $button-box-shadow-dark;
    }
  }
}

.main {
  height: 100vh;
  width: 100%;
}

.main-container {
  @include flex(column, center, center);
  width: 100%;
  height: 100%;
  // padding: $margin-md $margin-sm $margin-md $margin-sm;

  &.full-width {
    padding: 6.025em 0;
  }

  &.theme-bg {
    background: $section-darkmode-bg;
    color: $text-light;

    .button {
      border: 1px solid $text-light;
      color: $text-light;
      background: none;
      box-shadow: none;

      &:hover {
        background: #fff;
        color: $text-dark;
      }
    }
  }
}

.main-container:nth-child(even) {
  background-color: $color-darkmode-bg-light;
}

.main-container:nth-child(odd) {
  background-color: $color-darkmode-bg-dark;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  margin-top: $margin-md;
}

a:focus,
button:focus {
  outline-color: $color-darkmode-highlight;
}

body.lightmode {
  color: $text-dark;

  a:focus,
  button:focus {
    outline-color: $color-lightmode-highlight;
  }

  a {
    color: $text-dark;
  }

  .container {
    background-color: $color-lightmode-bg-dark;
  }

  .button {
    color: $text-light;
    background-image: $button-lightmode-bg;
    box-shadow: $button-box-shadow-light;

    &:hover {
      animation: button-hover 2s linear infinite alternate;
    }

    &--inverse {
      color: $color-lightmode-highlight;
      background: none;
      box-shadow: none;

      &.active,
      &:hover {
        color: $text-light;
        background: $button-lightmode-bg;
        box-shadow: $button-box-shadow-light;
      }
    }
  }

  .main-container:not(.theme-bg) {
    .section-heading {
      color: $text-dark;
    }

    .main {
      color: $text-dark;
    }
  }

  .main-container.theme-bg {
    background: $section-lightmode-bg;
  }

  .main-container:nth-child(even) {
    background-color: $color-lightmode-bg-light;
  }

  .main-container:nth-child(odd) {
    background-color: $color-lightmode-bg-dark;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $color-lightmode-bg-dark;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $scrollbar-lightmode-bg;
  }
}

@keyframes button-hover {
  50% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}
