@import "styles/colors";
@import "styles/margins";
@import "styles/mixins";
@import "styles/sizes";
@import "styles/overrides";

@font-face {
  font-family: "Bold";
  src: local("Roboto-Bold"), url("./fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Regular";
  src: local("Roboto-Regular"),
    url("./fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Light";
  src: local("Roboto-Light"), url("./fonts/Roboto-Light.ttf") format("truetype");
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: darken($background, 2.5%); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: darken($background, 2.5%); /* WebKit/Blink Browsers */
}

html {
  scroll-behavior: smooth;
}

body {
  color: $text-light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background;
  font-family: "Regular", sans-serif;

  /* width */
  &::-webkit-scrollbar {
    width: 0;
  }
}

h1 {
  font-size: 48px;
  letter-spacing: 2px;
}

h2 {
  font-size: 36px;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
  color: $text-light;
}

p,
a,
span {
  font-family: Light;
  font-weight: 300;
  letter-spacing: 2px;
}

P {
  font-size: 18px;
  margin: 0 0 40px 0;
  letter-spacing: 0.8px;
  line-height: 1.75;
  font-weight: 300;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-weight: 300;
}

input,
textarea {
  background: transparent;
  outline: none;
  border: none;
}

.container {
  padding: $padding-md;
  // background-color: $color-darkmode-bg-dark;
  border-radius: $border-radius;
  box-shadow: $image-box-shadow;
}

.button {
  border-radius: 2px;
  padding: 15px 30px;
  color: $text-light;
  background-image: $button-darkmode-bg;
  background-size: 130%;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  font-size: 16px;
  transition: $transition-fast;
  font-family: Bold;
  box-shadow: $button-box-shadow-dark;

  &:hover {
    filter: brightness(1.12);
  }
}

.section-heading {
  color: $text-light;
  font-weight: 600;
  font-size: 2.5rem;
}

.main {
  @include flex(column, center, center);
}

.main-container {
  @include flex(column, center, center);
  width: 100%;
  padding: $margin-md $margin-sm $margin-md $margin-sm;

  &.full-width {
    padding: 6.025em 0;
  }

  &.theme-bg {
    // background: $section-darkmode-bg;
    color: $text-light;

    .button {
      border: 1px solid $text-light;
      color: $text-light;
      background: none;
      box-shadow: none;

      &:hover {
        background: #fff;
        color: $text-dark;
      }
    }
  }
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  margin-top: $margin-md;
}

a:focus,
button:focus {
  outline-color: $color-darkmode-highlight;
}

@keyframes button-hover {
  50% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}
