@import "reset.scss";
@import "animations.scss";
@import "variables.scss";

body {
  font-family: "Open Sans", sans-serif;
  margin: auto;
}

main {
  max-width: calc(#{$body_max_width} + 4rem);
  min-height: 100vh;
  padding: 0 2rem;
  margin: auto;
  margin-top: 72px; // Header height
}

section {
  @include flex(column, center, center);
  min-height: calc(100vh - 7px - 4rem);
  width: 100%;
  margin-bottom: 4rem;
  position: relative;
  .heading-container {
    margin-bottom: 2rem;
  }

  h2 {
    font-size: 1.75rem;
    color: $color-dark-max;
    font-weight: 300;
    margin: 0 auto 2rem auto;
    text-align: center;
    max-width: $body-container-width;
    line-height: 1.25;

    @media (min-width: 600px) {
      font-size: 3rem;
    }

    @media (min-width: 960px) {
      font-size: 3.75rem;
    }
  }

  p {
    font-size: 1.25rem;
    color: $color-dark-min;
    font-weight: 300;
    text-align: center;
    line-height: 1.5;

    @media (min-width: $breakpoint-md) {
      font-size: 1.5rem;
    }

    @media (min-width: $breakpoint-lg) {
      font-size: 2rem;
    }
  }
}

section:last-of-type {
  margin-bottom: 0;
}

.flex-container {
  @include flex(row, space-around, center, wrap);
  width: $body-container-width;
  max-width: 100%;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
