@import "reset.scss";
@import "variables.scss";

body {
  font-family: "Open Sans", sans-serif;
  margin: auto;
}

main {
  max-width: calc(#{$body_max_width} + 4rem);
  min-height: 100vh;
  padding: 2rem;
  margin: auto;
  margin-top: 72px; // Header height
}
