@import "variables.scss";

.heading {
  font-size: 2rem;
  color: $color-dark;
  font-weight: 300;
}

.subheading {
  font-size: 1.5rem;
  color: $color-med;
  font-weight: 300;
}

.resume {
  margin: 2rem 0;

  &__links {
    margin: 2rem 0;
  }

  &__link {
    display: inline-flex;
    background-color: $color-light;
    border: 1px solid darken($color-light, 20%);
    border-radius: 12px;
    padding: 0.75rem 2rem;
    transition: all 0.2s ease-in-out;

    @media (hover: hover) {
      &:first-child:hover {
        border: 1px solid $color-accent-dark;
      }
      &:last-child:hover {
        border: 1px solid $color-dark;
      }
    }
  }

  &__link:first-child {
    margin-right: 2rem;
  }
}
